@import 'bootstrap';
@import '@fortawesome/fontawesome-free';

.main-header {
  justify-content: center;
  margin: 5px;
  border-bottom: 2px solid #ccc;
}

.main-title {
  font-size: 32px;
  margin-left: 5px;
}

.main-header-right {
  margin-top: 10px;
  margin-right: 0px;

  form {
    flex-direction: row-reverse;
  }

  .logged-in-header {
    button {
      margin-left: 10px;
    }
  }
}

.loading-modal {
  .modal-dialog {
    position: absolute;
    top: 40%;
    left: 50%;
  }

  .modal-content {
    height: 100px;
    padding-top: 25px;
    width: 100px;
    margin: auto;
    align-items: center;
  }
}

.app-notification {
  margin: 5px;
  text-align: center;

  .alert {
    width: 100%;
  }
}

.main-content {
  justify-content: center;
}

#share-movie-block {
  margin-top: 70px;
  border: 2px solid #ccc;
  width: 700px;
  border-radius: 4px;
  padding: 10px 10px 0px 10px;
}

#share-movie-title {
  color:#616161;
  background: white;
  width: 200px;
  text-align: center;
  margin: -24px 0px 10px 0px;
}

#share-movie-content {
  padding: 10px 10px 10px 0px;
}

.single-movie-container {
  margin: 10px;
  padding: 5px;

  display: flex;

  > div {
    margin-left: 10px;
    margin-right: 10px;
  }

  .movie-title {
    color: #E30425;
    font-weight: bolder;
  }

  .movie-player {
    margin-right: 30px;
  }

  .movie-information {
    width: 400px;

    .movie-vote-action-block {
      float: right;
    }

    button {
      border: none;
      background-color: white;
    }
  }
}
