@import 'bootstrap';
@import '@fortawesome/fontawesome-free';

.main-header {
  justify-content: center;
  margin: 5px;
  border-bottom: 2px solid #ccc;
}

.main-title {
  font-size: 32px;
  margin-left: 5px;
}

.main-header-right {
  margin-top: 10px;
  margin-right: 0px;

  form {
    flex-direction: row-reverse;
  }

  .logged-in-header {
    button {
      margin-left: 10px;
    }
  }
}
